QTabBar::tab { 	margin-left: 2px;	background: #f2f2f2; 	color: #000000; 	padding: 10px; } QTabBar::tab:selected { 	background: #ffffff; }      QTabWidget::pane { 	background-image: url(:/data/images/bg-white.png);	background-repeat: repeat-xy;	border: none; }QTabWidget > QWidget {	margin-left: 2px;	background-image: url(:/data/images/bg-white.png);	background-repeat: repeat-xy;	border: none;}